.footer {
    @extend %grid;
    height: 80px;

    @include sm {
        grid-template-columns: 1fr;
        height: 40px;
    }
    
    &__empty {
        border-right: 1px solid #49546d;

        @include sm {
            border: none;
        }
    }

    &__path {
        display: flex;
        align-items: flex-end;
        color: rgb(255, 255, 255);
        font-size: 9px;
        font-weight: 400;
        letter-spacing: 1px;
        padding: 20px 20px;

        @include sm {
            padding: 10px 50px;
        }
    }

    
}

